ul li {
  list-style: circle;
  width: 100%;
}

@keyframes fade-in-pages{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.animate-fade-in-pages {
  animation: fade-in-pages 300ms ease-in;
}